<%= render 'shared/error_messages', object: f.object %>
<div class="form-group row">
  <label for="inputTitle" class="col-sm-4 col-form-label">タイトル</label>
  <div class="col-sm-8">
    <%= f.text_field :title, class: "form-control" %>
  </div>
</div>
<div class="form-group row">
  <label for="inputBody" class="col-sm-4 col-form-label">メモ</label>
  <div class="col-sm-8">
    <%= f.text_area :body, size: 32, class: "form-control" %>
  </div>
</div>
<div class="form-group row">
  <label for="inputDate" class="col-sm-4 col-form-label">開始日</label>
  <div class="col-sm-8">
    <%= f.date_field(:start_date, default: @today, value: @routine.start_date, class: "form-control") %>
  </div>
</div>
<div class="form-group row">
  <label for="inputDate" class="col-sm-4 col-form-label">終了日</label>
  <div class="col-sm-8">
    <%= f.date_field(:end_date, default: Date.parse(@today).tomorrow, value: @routine.end_date, class: "form-control") %>
  </div>
</div>