<%= form_with(model: @routine, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group row">
    <div class="col-sm-4">
      <%= f.label :title, class: "col-form-label" %>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-4">
      <%= f.label :body, class: "col-form-label" %>
    </div>
    <div class="col-sm-8">
      <%= f.text_area :body, size: 32, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-4">
      <%= f.label :start_date, class: "col-form-label" %>
    </div>
    <div class="col-sm-8">
      <%= f.date_field(:start_date, default: @routine.start_date, value: @routine.start_date, class: "form-control") %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-4">
      <%= f.label :end_date, class: "col-form-label" %>
    </div>
    <div class="col-sm-8">
      <%= f.date_field(:end_date, default: @routine.end_date, value: @routine.end_date, class: "form-control") %>
    </div>
  </div>
  <div class="text-center">
    <%= f.submit yield(:button_text), class: "btn btn-info mt-4" %>
  </div>
<% end %>