<% 
@title = 'ルーティーンの達成度'
set_meta_tags title: @title
%>

<div class="container d-flex justify-content-between">
  <%= render "shared/sidebar_left" %>
    <div class="todo__main-col todo__main-col--index">
      <div>
        <div class="page__title-box">
          <h2 class="page__title"><%= @title %></h2>
        </div>
        <% if @routines.any? %>
          <div class="page__title-box">
            <%= link_to "<<", history_path(set_previous_month), class: "btn btn-outline-dark btn-sm" if set_previous_month %>
            <h2 class="page__title"><%= @year %>年<%= @month %>月</h2>
            <%= link_to ">>", history_path(set_next_month), class: "btn btn-outline-dark btn-sm" if set_next_month %>
          </div>
          <table class="table">
            <tbody>
              <tr>
                <td></td>
                <% @month_days.times do |d| %>
                  <td><%= d + 1 %></td>
                <% end %>
              </tr>
              <% @routines.each do |routine| %>
              <tr>
                <th style="white-space: nowrap;">
                  <%= truncate(routine.title, length: 24, omission: "..." ) %>
                </th>
                <% @month_days.times do |d| %>
                  <% @todo = routine.todos.find_by(todo_date: Date.new(@year, @month, d+1)) %>
                  <% if !@todo.nil? && @todo.status %>
                    <td>◯</td>
                  <% else %>
                    <td></td>
                  <% end %>
                <% end %>
              </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <p class="todo__no-item">ルーティーンはありません。</p>
        <% end %>
      </div>
    </div>
</div>