<% 
@title = 'ルーティーンの管理'
set_meta_tags title: @title
%>

<%= render "shared/sidebar_left" %>
<div class="content">
  <div>
    <div class="page__title-box">
      <div class="page__title"><%= @title %></div>
    </div>
    <% if @routines.any? %>
      <ul class="todo__list">
      <% @routines.each do |routine| %>
        <%= render routine %>
      <% end %>
      </ul>
    <% else %>
      <p class="todo__no-item">ルーティーンはまだ作成されていません。</p>
    <% end %>
    <div>
    <%= link_to "ルーティーンを追加", new_routine_path, class: "float-right btn btn-outline-info btn-sm" %>
    </div>
  </div>
</div>
<%= render "shared/sidebar_right" %>