<li class="task__item <%#= 'routine' unless task.routine_id.nil? %>">
  <div id="task-status" class="task__item-status">
    <%= check_box_tag "task_status_#{task.id}", true, task.status, {'data-id' => task.id, remote: true, method: :post} %>
    <%= label_tag "task_status_#{task.id}", "" %>
  </div>
  <div class="task__item-title"><%= truncate(task.title, length: 24, omission: "..." ) %></div>
  <% if !task.routine_id.nil? %>
    <i class="fas fa-calendar-alt icon-calendar"></i>
  <% end %>
  <div class="task__item-link-box">
    <%= link_to "詳細", task, class: "btn btn-outline-success btn-sm" %>
    <%= link_to "編集", [ :edit, task ], class: "btn btn-outline-warning btn-sm" %>
    <%= link_to "削除", task, method: :delete, class: "btn btn-outline-danger btn-sm", data: { confirm: "本当に削除しますか？" } %>
  </div>
</li>