<% @title = "Todo一覧" %>
<h1><%= @title %></h1>

<div>
  <%= link_to "ToDoを追加", new_task_path %>
</div>

<div>
  <% unless set_previous_day < Date.parse("2020-09-01") %>
    <%= link_to "前日へ", index_path(set_previous_day) %>
  <% end %>
  <% unless set_next_day > 1.year.since(@today.to_date + 1.day) %>
    <%= link_to "翌日へ", index_path(set_next_day) %>
  <% end %>
</div>

<ul>
  <% @tasks.each do |task| %>
    <li style="display: flex; justify-content: flex-start; margin-bottom: 10px;">
        <div style="width: 200px;"><%= task.title %></div>
        <div style="width: 120px; display: flex; justify-content: space-between;">
          <%= link_to "詳細", task %>
          <%= link_to "編集", [ :edit, task ] %>
          <%= link_to "削除", task, method: :delete, data: { confirm: "本当に削除しますか？" } %>
        </div>
    </li>
  <% end %>
</ul>
<%= link_to "今日へ移動", index_path(@today) %>
<%= link_to "ユーザー一覧", users_path %>
