<% @title = get_the_date + "のToDo" %>
<h1><%= @title %></h1>

<div>
  <%= link_to "ToDoを追加", new_task_path %>
</div>

<div>
  <% unless set_previous_date < Date.parse("2020-09-01") %>
    <%= link_to "前日へ", index_path(set_previous_date) %>
  <% end %>
  <% unless set_next_date > 1.year.since(@today.to_date + 1.day) %>
    <%= link_to "翌日へ", index_path(set_next_date) %>
  <% end %>
</div>

<ul>
  <% @tasks.each do |task| %>
    <%= render task %>
  <% end %>
</ul>
<%= link_to "今日へ移動", index_path(@today) %>