<%= form_with(model: @user, local: true, html: { novalidate: true, multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group row">
    <div class="col-sm-4">
      <%= f.label :username, class: "col-form-label" %>
    </div>
    <div class="col-sm-8">
      <%= f.text_field :username, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-4">
      <%= f.label :email, class: "col-form-label" %>
    </div>
    <div class="col-sm-8">
      <%= f.email_field :email, class: "form-control", readonly: user_is_guest? %>
    </div>
  </div>
  <% if !f.object.new_record? %>
    <div class="form-group row">
      <div class="col-sm-4">
        <%= f.label :user_image, class: "col-form-label" %>
      </div>
      <div class="col-sm-8">
        <%= user_image(current_user) %>
        <%= f.file_field :user_image %>
        <% if current_user.user_image? || current_user.sns_profile_image.present? %>
        <div>
          <%= f.check_box :remove_user_image %>
          <%= f.label :remove_user_image, "デフォルトのアイコンを使用" %>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if f.object.new_record? %>
    <div class="form-group row">
      <div class="col-sm-4">
        <%= f.label :password, class: "col-form-label" %>
      </div>
      <div class="col-sm-8">
        <%= f.password_field :password, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-4">
        <%= f.label :password_confirmation, class: "col-form-label" %>
      </div>
      <div class="col-sm-8">
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
    </div>
  <% end %>

  <div class="action__case">
    <%= f.submit yield(:button_text), class: "btn btn-primary action__btn" %>
  </div>
<% end %>