<%= form_with(model: @user, local: true, html: { novalidate: true, multipart: true }) do |f| %>
  <div class="form-group row">
    <div class="col-sm-3">
      <%= f.label :username, class: "col-form-label" %>
    </div>
    <div class="col-sm-9">
      <%= f.text_field :username, class: "form-control" %>
      <%= error_message(@user, :username) %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-3">
      <%= f.label :email, class: "col-form-label" %>
    </div>
    <div class="col-sm-9">
      <%= f.email_field :email, class: "form-control", readonly: user_is_guest? %>
      <%= error_message(@user, :email) %>
      <% if !f.object.new_record? %>
        <p><small>アドレスを変更すると、確認のため新しいアドレスにメールを送信します。新しいアドレスは確認が完了するまで有効化されません。</small></p>
        <% if current_user.unconfirmed_email %>
          <p><%= current_user.unconfirmed_email %>への管理者メールアドレス変更が承認待ち中です。<span><%= link_to "キャンセル", email_confirmation_path, method: :delete %></span></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <% if !f.object.new_record? %>
    <div class="form-group row">
      <div class="col-sm-3">
        <%= f.label :user_image, class: "col-form-label" %>
      </div><br>
      <div class="col-sm-9">
        <%= user_image(current_user) %>
        <%= f.file_field :user_image %>
        <% if has_user_image? %>
          <div>
            <%= f.check_box :remove_user_image %>
            <%= f.label :remove_user_image, "デフォルトのアイコンを使用" %>
          </div>
        <% end %>
        <%= error_message(current_user, :user_image) %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-3">SNS連携</div>
      <div class="col-sm-9">
        <div>Twitter :
          <% if current_user.twitter_uid %>
            <span>連携中</span>
            <% if !current_user.auto_generated_password %>
              <%= link_to "連携を解除", cancel_oauth_path(uid_type: "twitter"), method: :delete %>
            <% end %>
          <% else %>
            <span>未連携</span>
          <% end %>
        </div>
        <div>Facebook :
          <% if current_user.facebook_uid %>
            <span>連携中</span> 
            <% if !current_user.auto_generated_password %>
              <%= link_to "連携を解除", cancel_oauth_path(uid_type: "facebook"), method: :delete %>
            <% end %>
          <% else %>
            <span>未連携</span>
          <% end %>
        </div>
        <div>Google :
          <% if current_user.google_uid %>
            <span>連携中</span> 
            <% if !current_user.auto_generated_password %>
              <%= link_to "連携を解除", cancel_oauth_path(uid_type: "google"), method: :delete %>
            <% end %>
          <% else %>
            <span>未連携</span>
          <% end %>
        </div>
        <% if current_user.auto_generated_password %>
          <p>SNS連携を解除するには<%= link_to "パスワードを設定", edit_user_password_path(current_user) %>してください</p>
        <% end %>
      </div>
    </div>
  <% end %>
  <% if f.object.new_record? %>
    <div class="form-group row">
      <div class="col-sm-3">
        <%= f.label :password, class: "col-form-label" %>
      </div>
      <div class="col-sm-9">
        <%= f.password_field :password, class: "form-control" %>
        <%= error_message(@user, :password) %>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-3">
        <%= f.label :password_confirmation, class: "col-form-label" %>
      </div>
      <div class="col-sm-9">
        <%= f.password_field :password_confirmation, class: "form-control" %>
        <%= error_message(@user, :password_confirmation) %>
      </div>
    </div>
  <% end %>

  <div class="action__case">
    <%= f.submit yield(:button_text), class: "btn btn-primary action__btn" %>
  </div>
<% end %>