<%= form_with(model: @user, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group row">
    <%= f.label :username, class: "col-sm-4 col-form-label" %>
    <div class="col-sm-8">
      <%= f.text_field :username, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <%= f.label :email, class: "col-sm-4 col-form-label" %>
    <div class="col-sm-8">
      <%= f.email_field :email, class: "form-control" %>
    </div>
  </div>
  <% if f.object.new_record? %>
    <div class="form-group row">
      <%= f.label :password, class: "col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.password_field :password, class: "form-control" %>
      </div>
    </div>
    <div class="form-group row">
      <%= f.label :password_confirmation, class: "col-sm-4 col-form-label" %>
      <div class="col-sm-8">
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
    </div>
  <% end %>

  <div class="action__case">
    <%= f.submit yield(:button_text), class: "btn btn-primary action__btn" %>
  </div>
<% end %>