<% @title = "ユーザ情報" %>
<% provide(:button_text, "更新する") %>

<div class="container d-flex justify-content-between">
  <%= render "shared/sidebar_left" %>
  <div class="task__main-col">
    <div class="page__title-box">
      <h2 class="page__title"><%= @title %></h2>
    </div>
    <div>
      <%= gravatar_for @user %>
      <ul>
        <li><%= @user.username %></li>
        <li><%= @user.email %></li>
      </ul>
    </div>
    <div class="task__btn-case">
      <%= link_to "ユーザ情報の変更", edit_user_path, class: "btn btn-outline-success mr-3 btn-sm" %>
      <%= link_to "パスワードの変更", edit_user_password_path(current_user), class: "btn btn-outline-primary mr-3 btn-sm" %>
      <%= link_to "退会する", user_path, method: :delete, data: { confirm: "アカウントを削除してよろしいですか？" }, class: "btn btn-outline-danger btn-sm" %>
    </div>
  </div>
  <%= render "shared/sidebar_right" %>
</div>