<aside id="slide-menu" class="slide-menu">
  <div class="userinfo slide-menu__userinfo">
    <%= user_image(current_user) %>
    <%= link_to current_user.username, user_path(current_user), class: "userinfo__username" %>
  </div>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <%= link_to todo_index_path(@today), class: "nav__link" do %>
          <span class="icon nav__icon">
            <i class="fas fa-calendar-check"></i>
          </span>
          <span>ToDoリスト</span>
        <% end %>
      </li>
      <li class="nav__item">
        <%= link_to history_path(set_this_month), class: "nav__link" do %>
          <span class="icon nav__icon">
            <i class="fas fa-crown"></i>
          </span>
          <span>達成度を確認</span>
        <% end %>
      </li>
      <li class="nav__item">
        <%= link_to shortcuts_path, class: "nav__link" do %>
          <span class="icon nav__icon">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 477.862 477.862"><path d="M187.722,102.856V17.062C187.719,7.636,180.076-0.003,170.65,0c-4.834,0.001-9.44,2.053-12.676,5.644L4.375,176.311 c-5.617,6.256-5.842,15.67-0.529,22.187l153.6,187.733c5.968,7.295,16.72,8.371,24.016,2.403c3.952-3.233,6.249-8.066,6.26-13.172 v-85.043c134.827,4.386,218.965,62.02,256.888,175.787c2.326,6.96,8.841,11.653,16.179,11.656c0.92,0.003,1.84-0.072,2.748-0.222 c8.256-1.347,14.319-8.479,14.319-16.845C477.855,259.818,356.87,112.174,187.722,102.856z"/></svg>
          </span>
          <span>ショートカット</span>
        <% end %>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">
          <span class="icon nav__icon">
            <i class="fas fa-tag"></i>
          </span>
          <span>ラベル</span>
        </a>
      </li>
      <li class="nav__item">
        <%= link_to edit_user_path(current_user), class: "nav__link" do %>
          <span class="icon nav__icon">
            <i class="fas fa-cog"></i>
          </span>
          <span>アカウント設定</span>
        <% end %>
      </li>
      <li class="nav__item">
        <%= link_to edit_user_password_path(current_user), class: "nav__link" do %>
          <span class="icon nav__icon">
            <i class="fas fa-key"></i>
          </span>
          <span>パスワード設定</span>
        <% end %>
      </li>
      <li class="nav__item">
        <%= link_to logout_path, method: :delete, class: "nav__link" do %>
          <span class="icon nav__icon">
            <i class="fas fa-sign-out-alt"></i>
          </span>
          <span>ログアウト</span>
        <% end %>
      </li>
    </ul>
  </nav>
</aside>