<% @title = get_url_date_in_japanese + "のToDo" %>

<div class="container d-flex justify-content-between">
  <%= render "shared/sidebar_left" %>
    <div class="todo__main-col todo__main-col--index">
      <div>
        <div class="page__title-box">
          <div>
            <% unless set_previous_date < Date.parse("2000-01-01") %>
              <%= link_to "<<", index_path(set_previous_date), class: "btn btn-outline-dark btn-sm" %>
            <% end %>
          </div>
          <h2 class="page__title"><%= @title %></h2>
          <div>
            <% unless set_next_date > 1.year.since(@today.to_date) %>
              <%= link_to ">>", index_path(set_next_date), class: "btn btn-outline-dark btn-sm" %>
            <% end %>
          </div>
        </div>
        <% if @date_todos.any? %>
          <ul class="todo__list">
          <% @todos.each do |todo| %>
            <%= render todo %>
          <% end %>
          </ul>
        <% else %>
          <p class="text-center">ToDoがありません</p>
        <% end %>
      </div>
      <div class="todo__btn-case">
        <%= link_to "ToDoを追加", new_todo_path, class: "btn btn-outline-success mr-3 btn-sm" %>
        <%= link_to "今日へ移動", index_path(@today), class: "btn btn-outline-primary btn-sm" %>
      </div>
    </div>
  <%= render "shared/sidebar_right" %>
</div> 
