<% 
@title = 'パスワードの変更'
set_meta_tags title: @title
%>

<%= render "shared/sidebar_left" %>
<div class="content">
  <div class="headline">
    <h2 class="headline__title">
      パスワードの変更
      <span class="icon headline__icon">
        <i class="fas fa-cog"></i>
      </span>
    </h2>
    <p class="headline__text">
      ログインに必要なパスワードを変更することができます。
    </p>
  </div>
  <%= form_with(model: @change_password_form, url: :user_password, method: :patch, local: true, class: "form user-form") do |f| %>
    <div class="form__group">
      <%= f.label :new_password, class: "form__label" %>
      <%= f.password_field :new_password, class: "form__input" %>
      <%= error_message(@change_password_form, :new_password) %>
    </div>
    <div class="form__group">
      <%= f.label :new_password_confirmation, class: "form__label" %>
      <%= f.password_field :new_password_confirmation, class: "form__input" %>
      <%= error_message(@change_password_form, :new_password_confirmation) %>
    </div>

    <div class="form__action">
      <%= f.submit "パスワードを更新する", class: "btn-main btn--md" %>
    </div>
  <% end %>
</div>