<%= form_with(model: @todo, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group row">
    <div class="col-sm-12">
      <%= f.text_field :title, class: "form-control", placeholder: "タイトル" %>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-12">
      <%= f.label :todo_date, class: "col-form-label" %>
      <%= f.date_field(:todo_date, default: @todo.todo_date, value: @todo.todo_date, class: "form-control") %>
    </div>
  </div>
  <div class="text-center">
    <%= f.submit yield(:button_text), class: "btn btn-info mt-4" %>
  </div>
<% end %>