<%= form_with(model: @todo) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group row">
    <label for="inputTitle" class="col-sm-4 col-form-label">タイトル</label>
    <div class="col-sm-8">
      <%= f.text_field :title, class: "form-control" %>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputBody" class="col-sm-4 col-form-label">日付</label>
    <div class="col-sm-8">
      <div class="form-control-plaintext date-range-box date-range-box--column">
        <div class="date-range-item">
          <span class="date-title">開始日</span>
          <%= f.date_field(:start_date, default: "#{@todo.start_date}", value: "#{@todo.start_date}", class: "form-control") %>
        </div>
        <div class="date-range-item">
          <span class="date-title">終了日</span>
          <%= f.date_field(:end_date, default: "#{@todo.end_date}", value: "#{@todo.end_date}", class: "form-control") %>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputBody" class="col-sm-4 col-form-label">メモ</label>
    <div class="col-sm-8">
      <%= f.text_area :body, rows: 8, class: "form-control" %>
    </div>
  </div>
  <div class="text-center">
    <%= f.submit yield(:button_text), class: "btn btn-info mt-4" %>
  </div>
<% end %>