<li class="list__item">
  <div class="list__block">
    <div id="todo-<%= todo.id %>" class="todo-status <%= "todo__status--checked" if todo.status %>">
      <%= check_box_tag "todo_status_#{todo.id}", true, todo.status, {'data-id' => todo.id, remote: true, method: :post, class: "toggle-status"} %>
      <%= label_tag "todo_status_#{todo.id}", "" %>
    </div>
    <div class="list__title"><%= truncate(todo.title, length: 24, omission: "..." ) %></div>
    <span class="label">プログラミング</span>
  </div>
  <div class="list__block item-action">
    <%= link_to todo_create_shortcut_path(todo.id), method: :post, class: "mr-3" do %>
      <%# <i class="fas fa-share"></i> %>
    <% end %>
    <%= link_to [ :edit, todo ], class: "item-action__btn" do %>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to todo, method: :delete, class: "item-action__btn", data: { confirm: "本当に削除しますか？" } do %>
      <i class="fas fa-trash"></i>
    <% end %>
  </div>
</li>