<li class="todo__item <%= 'routine' unless todo.routine_id.nil? %>">
  <div id="todo-status" class="todo__item-status">
    <%= check_box_tag "todo_status_#{todo.id}", true, todo.status, {'data-id' => todo.id, remote: true, method: :post, class: "toggle-status"} %>
    <%= label_tag "todo_status_#{todo.id}", "" %>
  </div>
  <div class="todo__item-title"><%= truncate(todo.title, length: 24, omission: "..." ) %></div>
  <% if !todo.routine_id.nil? %>
    <i class="fas fa-calendar-alt icon-calendar"></i>
  <% end %>
  <div class="todo__item-link-box">
    <%= link_to "詳細", todo, class: "btn btn-outline-success btn-sm" %>
    <%= link_to "編集", [ :edit, todo ], class: "btn btn-outline-warning btn-sm" %>
    <%= link_to "削除", todo, method: :delete, class: "btn btn-outline-danger btn-sm", data: { confirm: "本当に削除しますか？" } %>
  </div>
</li>