<% 
@title = get_url_date_in_japanese
set_meta_tags title: @title
%>

<%= render "shared/sidebar_left" %>
<div class="content">
  <div class="todo">
    <section class="horizontal-arrows">
      <% if set_previous_date %>
        <%= link_to todo_index_path(set_previous_date), class: "horizontal-arrows__btn horizontal-arrows__btn--left" do %>
          <i class="fas fa-caret-left"></i>
        <% end %>
      <% end %>
      <div class="todo__date-box">
        <div class="todo__date-title"><%= @title %></div>
        <p class="todo__date-day"><%= get_day() %></p>
      </div>
      <% if set_next_date %>
        <%= link_to todo_index_path(set_next_date), class: "horizontal-arrows__btn horizontal-arrows__btn--right" do %>
          <i class="fas fa-caret-right"></i>
        <% end %>
      <% end %>
    </section>
    <% if @date_todos.any? %>
      <ul class="list">
      <% @todos.each do |todo| %>
        <%= render todo %>
      <% end %>
      </ul>
    <% else %>
      <div class="no-result todo__no-result">
        <div class="no-result__illustration">
          <img src="/illustrations/il-checklist.png" alt="チェックリストのイラスト">
        </div>
      </div>
    <% end %>
    <div class="todo__page-action page-action">
    <%= link_to new_todo_path, class: "btn-outlined btn--sm" do %>
      <span class="page-action__icon">
        <i class="fas fa-plus"></i>
      </span>
      <span class="page-action__text">ToDoを追加</span>
    <% end %>
  </div>
  </div>
  <div class="index-shortcut">
    <% if @shortcuts.present? %>
      <div class="index-shortcut__box">
        <div class="index-shortcut__title">ショートカットからToDoを作成</div>
        <%= link_to "編集", shortcuts_path, class: "index-shortcut__edit" %>
      </div>
    <% end %>
    <div class="index-shortcut__field">
      <% if @shortcuts.present? %>
        <ul class="index-shortcut__list">
          <% @shortcuts.each do |shortcut| %>
            <li class="index-shortcut__item">
              <%= link_to shortcut.title, shortcut_create_todo_path(get_url_date, shortcut.id), method: :post, class: "index-shortcut__link" %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <div class="index-shortcut__no-result">
          <p class="index-shortcut__text">ショートカットが作成されていません。</p>
          <div class="page-action">
            <%= link_to shortcuts_path, class: "btn-outlined btn--sm" do %>
              <span class="page-action__icon">
                <i class="fas fa-plus"></i>
              </span>
              <span class="page-action__text">ショートカットを追加</span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render "shared/sidebar_right" %>