<div class="container d-flex justify-content-between">
  <%= render "shared/sidebar_left" %>
    <div class="todo__main-col">
      <div class="page__title-box">
        <h2 class="page__title"><%= @todo.title %></h2>
      </div>
      <div class="form-group row">
        <label for="inputBody" class="col-sm-4 col-form-label">ステータス</label>
        <div class="col-sm-8">
          <div class="form-control-plaintext">
            <%= @todo.status %>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputBody" class="col-sm-4 col-form-label">日付</label>
        <div class="col-sm-8">
          <div class="form-control-plaintext">
            <%= format_todo_date(@todo.todo_date) %>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputBody" class="col-sm-4 col-form-label">繰り返し</label>
        <div class="col-sm-8">
          <div class="form-control-plaintext">
            ON
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputBody" class="col-sm-4 col-form-label">繰り返し終了</label>
        <div class="col-sm-8">
          <div class="form-control-plaintext d-flex">
            <select name="repeat-end" id="" class="mr-2">
              <option value="nil">なし</option>
              <option value="">指定期間</option>
              <option value="">指定日</option>
            </select>
            <div>
              <span style="opacity: 0.5; font-size: 12px;">(開始日 : <%= format_todo_date(@todo.start_date) %>)</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="inputBody" class="col-sm-4 col-form-label">メモ</label>
        <div class="col-sm-8">
          <div class="form-control-plaintext">
            <%= simple_format(h(@todo.body)) %>
          </div>
        </div>
      </div>
      <div class="todo__btn-case">
        <p><%= link_to "ショートカットに登録", shortcuts_path(shortcut: { title: @todo.title, body: @todo.body }), method: :post, class: "btn btn-outline-success mr-3 btn-sm" %></p>
        <p><%= link_to "編集", [ :edit, @todo ], class: "btn btn-outline-warning mr-3 btn-sm" %></p>
        <p><%= link_to "削除", @todo, method: :delete, class: "btn btn-outline-danger btn-sm", data: { confirm: "本当に削除しますか？" } %></p>
      </div>
    </div>
  <%= render "shared/sidebar_right" %>
</div>