<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= display_meta_tags(default_meta_tags) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>

  </head>
  <body>
    <div id="screen-layer"></div>
    <%= render "shared/header" %>
    <% if logged_in? %>
      <%= render "shared/slide-menu" %>
    <% end %>
    <%= render "shared/flash" %>
    <main>
      <div class="container wrapper">
        <%= yield %>
      </div>
    </main>
    <%= render "shared/footer" %>
  </body>
</html>
